*{
    margin: 0;
    padding:0;
}
body{
     width:100%;
    height:100vh;
   
}
header{
    width:100%;
    height:17vh;
    background-color: rgb(251, 65, 3);
   
}
nav{
    width:80%;
    height:20vh;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
   
}
ul{
    display: flex;
    list-style-type: none;
    gap:50px;
}
.ul1{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:50%;
    color: white;
}
.ulbutton1{
    width:150px;
    height:55px;
    border-radius:10px;
    background: none;
    color: white;
    border: 1px solid white;
}
.ulbutton2{
     width:150px;
    height:55px;
    border-radius:15px;
    background-color: black;
    color: white;
}
.logo{
    width:180px;
    height:60px;
}
.main1{
    width: 100%;
    height:85vh;
    background-color: rgb(251, 65, 3);
    display: flex;
    justify-content:space-between;
}
.imgveg{
    width:200px;
    height: 400px;
    
   
    background-image:url("./images/Veggies_new.avif");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
/* .imgveg img{
    width: 200px;
    height: 400px;
    object-fit:contain;
    
} */
.imgfruit{
    width:200px;
    height: 400px;
    display: flex;
    justify-content:right;
    background-image: url("./images/Sushi_replace.avif"); 
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
/* .imgfruit img{
    width: 200px;
    height: 400px;
    object-fit: contain;
    
}
.textmain{
    display: flex;
    justify-content: center;
} */
 .textmain{
    padding: 50px;
    text-align: center;
    color: white;
    font-size:23px;
    font-family: sans-serif;
 }